<h2 class="text-lg border-b pb-4" mat-dialog-title>Ingresar factura</h2>
<mat-dialog-content class="py-4">
    <form (ngSubmit)="submit()" [formGroup]="form" autocomplete="off" class="space-y-2">
        <mat-form-field class="w-full">
            <mat-label>Número de factura</mat-label>
            <input formControlName="invoiceNumber" matInput type="number">
            @if (form.get('invoiceNumber').hasError('required')) {
                <mat-error [innerText]="'errors.form.required' | transloco"></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="status">
                @for (status of statuses; track status.value) {
                    <mat-option [value]="status.value">{{ status.label }}</mat-option>
                }
            </mat-select>
            @if (form.get('status').hasError('required')) {
                <mat-error [innerText]="'errors.form.required' | transloco"></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Fecha de emisión</mat-label>
            <input [matDatepicker]="picker"
                   [max]="emissionMaxDate"
                   [min]="emissionMinDate"
                   formControlName="emissionDate"
                   matInput>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            @if (form.get('emissionDate').hasError('required')) {
                <mat-error [innerText]="'errors.form.required' | transloco"></mat-error>
            }
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Fecha de vencimiento</mat-label>
            <input [matDatepicker]="picker2"
                   [min]="dueMinDate()"
                   formControlName="dueDate"
                   matInput>
            <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker2 [disabled]="form.get('emissionDate').invalid"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Responsable de entrega</mat-label>
            <input [matAutocomplete]="deliveryResponsibleAutocomplete" formControlName="deliveryAssignment" matInput>
            <mat-autocomplete
                #deliveryResponsibleAutocomplete="matAutocomplete"
                [displayWith]="displayWithFn"
                autoActiveFirstOption
            >
                @if (!usersResource.isLoading()) {
                    @let users = usersResource.value();

                    @for (user of users; track user.id) {
                        <mat-option [value]="user">
                            <!-- show user and role.nane to identify the user -->
                            {{ user.name }} <span class="text-gray-500">({{ user.role.name }})</span>
                        </mat-option>
                    }
                } @else {
                    <mat-option disabled>
                        <mat-progress-spinner class="mr-2" diameter="16" mode="indeterminate"></mat-progress-spinner>
                        <span>Cargando usuarios...</span>
                    </mat-option>
                }
            </mat-autocomplete>
            @if (form.get('deliveryAssignment').hasError('required')) {
                <mat-error [innerText]="'errors.form.required' | transloco"></mat-error>
            }
        </mat-form-field>

        <!-- Mark as pendingdelivery -->
        <mat-checkbox class="mb-4" formControlName="markAsPendingDelivery">Actualizar estado a
            <badge [color]="OrderStatusConfig[OrderStatusEnum.PENDING_DELIVERY].color" [label]="'enums.order-status.' + OrderStatusEnum.PENDING_DELIVERY | transloco" class="ml-2"></badge>
        </mat-checkbox>
    </form>

    <table style="float: right" class="bg-transparent">
        <tbody>
            @let subtotal = order().totalAmount;
            @let iva = subtotal * 0.19;
            @let total = subtotal * 1.19;
        <tr>
            <td class="text-right font-medium">Valor neto:</td>
            <td class="px-2">{{ subtotal | currency:'CLP':'symbol-narrow' }}</td>
        </tr>
        <tr>
            <td class="text-right font-medium">IVA:</td>
            <td class="px-2">{{ iva | currency:'CLP':'symbol-narrow' }}</td>
        </tr>
        <tr>
            <td class="text-right font-medium">Valor bruto:</td>
            <td class="px-2">{{ total | currency:'CLP':'symbol-narrow' }}</td>
        </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end" class="">
    <button color="secondary" mat-button mat-dialog-close>Cerrar</button>
    <button (click)="submit()" cdkFocusInitial color="primary" mat-flat-button>Guardar</button>
</mat-dialog-actions>
