<div class="relative max-w-full overflow-auto w-full">
    <table
        [dataSource]="data()"
        class="min-w-240 w-full overflow-y-visible bg-transparent"
        mat-table
        matSort
    >
        @for (column of columns(); track column.key) {
            <ng-container [matColumnDef]="column.key">
                <th mat-header-cell *matHeaderCellDef>
                    {{ column.header }}
                </th>
                <td mat-cell *matCellDef="let row">
                    <cell-renderer
                        [ngStyle]="{'text-align': column.display?.alignment, 'width': column.display?.width}"
                        [class]="computedContainerClasses(column, row)"
                        [column]="column"
                        [row]="row"
                    ></cell-renderer>
                </td>
            </ng-container>
        }

        @for (column of columns(); track column.key) {
            <ng-container [matColumnDef]="column.key + 'Filter'">
                <th *matHeaderCellDef mat-header-cell>
                    @if (column.filter?.['control'] || column.filter?.['group']) {
                        @switch (column.filter.type) {
                            @case ('autocomplete') {
                                <autocomplete-filter-field
                                    [header]="column.header"
                                    [filterControl]="column.filter.control"
                                    [filterOptions]="column.filter.options"
                                    [filterDisplayWith]="column.filter.displayWith"
                                ></autocomplete-filter-field>
                            }
                            @case ('select') {
                                <select-filter-field
                                    [header]="column.header"
                                    [filterControl]="column.filter.control"
                                    [filterOptions]="column.filter.options"
                                    [multiple]="column.filter.multiple"
                                ></select-filter-field>
                            }
                            @case ('date-range') {
                                <date-range-filter-field
                                    [header]="column.header"
                                    [filterGroup]="column.filter.group"
                                ></date-range-filter-field>
                            }
                            @case ('number') {
                                <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                                    <input
                                        [formControl]="column.filter.control"
                                        matInput
                                        type="number"
                                        placeholder="Filtrar {{ column.header }}"
                                    >
                                </mat-form-field>
                            }
                            @case ('date') {
                                <date-filter-field
                                    [header]="column.header"
                                    [filterControl]="column.filter.control"
                                ></date-filter-field>
                            }
                            @case ('number-range') {
                                <number-range-filter-field
                                    [header]="column.header"
                                    [filterGroup]="column.filter.group"
                                ></number-range-filter-field>
                            }
                            @case ('vehicle') {
                                <vehicle-selector
                                    [controlClasses]="column.filter?.controlClasses"
                                    [hideLabel]="column.filter?.hideLabel"
                                    [formControl]="column.filter.control"
                                    [subscriptSizing]="'dynamic'"
                                ></vehicle-selector>
                            }
                            @default {
                                <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                                    <input
                                        [formControl]="column.filter.control"
                                        matInput
                                        placeholder="Filtrar {{ column.header }}"
                                    >
                                </mat-form-field>
                            }
                        }
                    }
                </th>
            </ng-container>
        }

        <!-- Fila de encabezados de datos -->
        <tr *matHeaderRowDef="displayedColumns()" class="bg-card" mat-header-row></tr>
        <!-- Fila de filtros -->
        @if (containFilters()) {
            <tr *matHeaderRowDef="displayedFilterColumns()" class="bg-card" mat-header-row></tr>
        }
        <!-- Fila de datos -->
        <tr *matRowDef="let row; columns: displayedColumns();" class="hover:bg-hover transition-all duration-300" mat-row></tr>
        <!-- Fila sin datos -->
        <tr *matNoDataRow class="hover:bg-hover transition-all duration-300">
            <td [attr.colspan]="displayedColumns().length" class="text-center text-md italic mat-hint py-4">
                {{ emptyMessage() }}
            </td>
        </tr>
    </table>
</div>

@if (pagination()) {
    <mat-paginator #paginator
                   (page)="paginationChange.emit($event)"
                   [disabled]="pagination().disabled"
                   [length]="pagination().totalElements"
                   [pageSize]="pagination().limit"
                   [showFirstLastButtons]="true"
                   [pageSizeOptions]="[5, 10, 25, 50]"
                   [hidePageSize]="false"
                   [pageIndex]="pagination().page - 1"
                   aria-label="Select page"></mat-paginator>
}
