<div *transloco="let t; read: 'operations.orders'" class="flex flex-col min-w-0 w-full">
    <!-- Encabezado de la página -->
    <page-header
        [description]="t('list.subtitle')"
        [subtitle]="t('list.title')">
    </page-header>

    <div class="flex flex-col items-center justify-center w-full max-w-xs sm:max-w-full mx-auto py-10 gap-y-4 sm:px-4">

        <div class="flex flex-row w-full gap-x-2">
            <h2 class="flex-1 font-bold text-secondary text-xl self-center">
                {{ t('title') }}
            </h2>
            <button
                #columnsOverlayButton
                (click)="openColumnsOverlay($event)"
                [class.open]="showColumnsOverlay()"
                mat-icon-button
            >
                <mat-icon [svgIcon]="'mat_outline:checklist'"></mat-icon>
            </button>

            <!-- Clean filters -->
            <button
                (click)="clearFilters()"
                [matTooltip]="'actions.clear-filters' | transloco"
                mat-icon-button
            >
                <mat-icon svgIcon="mat_solid:filter_alt_off"></mat-icon>
            </button>
            <button
                (click)="ordersResource.reload()"
                [matTooltip]="'actions.reload' | transloco"
                mat-icon-button
            >
                <mat-icon [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
            </button>
            <a
                [matTooltip]="t('new.title')"
                [routerLink]="['new']"
                class="flex-0 font-bold py-2 px-4 rounded"
                color="primary"
                mat-icon-button
            >
                <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
            </a>
        </div>

        <!-- TABLA (SOLO DESKTOP/TABLET) -->
        @defer (on immediate) {
            <table-builder class="w-full bg-transparent"
                           [columns]="columnsConfig()"
                           [data]="ordersResource.value()"
                           [pagination]="pagination()"
                           [itemsPerPageLabel]="'Órdenes por página'"
                           (paginationChange)="handlePagination($event)"
            ></table-builder>
        }
    </div>

    <ng-template #columnsOverlay>
        <div class="bg-card rounded-lg shadow-lg p-4">
            <div class="flex flex-col gap-2">
                <div class="flex flex-col justify-between gap-4">
                    <h3 class="font-bold text-lg">Columnas</h3>

                    @for (column of columnsConfig(); track column) {
                        <div class="flex items-center gap-2">
                            <mat-slide-toggle
                                [checked]="column.visible"
                                (change)="toggleColumn(column.key)"
                            ></mat-slide-toggle>
                            <span>{{ t('fields.' + column.key) }}</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </ng-template>
</div>


<ng-template #infoCell let-order="row">
    @let deliveryDate = order.deliveryDate;
    <div class="flex-center">
        @if (today == deliveryDate) {
            <mat-icon
                [matTooltip]="'La fecha de entrega es hoy.' + (!order.invoice ? '\n• No tiene factura asociada' : '') + (order.status === OrderStatusEnum.CREATED ? '\n• Aún no está en progreso ni pendiente de entrega': '')"
                matTooltipClass="whitespace-pre-wrap"
                svgIcon="heroicons_solid:exclamation-circle"
                class="text-yellow-700"
            ></mat-icon>
        }
    </div>
</ng-template>

<ng-template #invoiceCell let-order="row">
    @if (order?.type === 'RETURN_ORDER') {
        <span class="text-sm">No aplica</span>
    } @else {
        @if (order?.invoices?.length > 0) {
            @let invoice = order.invoices[0];
            <div class="flex justify-between items-center">
                <span (click)=" openInvoiceDetail(order, invoice)" class="text-sm cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ invoice?.invoiceNumber }}</span>
                <a mat-icon-button [routerLink]="['/operations', 'invoices', 'list']" [queryParams]="{ invoiceNumber: invoice.invoiceNumber}">
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:arrow-top-right-on-square"></mat-icon>
                </a>
            </div>
        } @else {
            <button
                class="shadow-none"
                mat-icon-button
                [matTooltip]="'Agregar factura'"
                (click)="$event.stopPropagation(); openAddInvoiceDialog(order)"
            >
                <mat-icon class="icon-size-4">receipt_long</mat-icon>
                @if (!order.invoice) {
                    <mat-icon class="icon-size-4">add</mat-icon>
                }
            </button>
        }
    }
</ng-template>

<ng-template #actionsCell let-order="row">
    <div class="mt-2 flex justify-end gap-2">
        <button
            (click)="order.invoices ? openInvoiceDetail(order, order.invoices[order.invoices.length - 1]) : openAddInvoiceDialog(order)"
            [matTooltip]="order.invoice ? 'Ver factura' : 'Agregar factura'"
            class="shadow-none"
            mat-mini-fab
        >
            <mat-icon class="icon-size-4">receipt_long</mat-icon>
            @if (!order.invoice) {
                <mat-icon class="icon-size-4">add</mat-icon>
            }
        </button>

        <button
            (click)="view(order)"
            class="shadow-none"
            mat-mini-fab
            matTooltip="Ver orden"
        >
            <mat-icon class="icon-size-4.5" svgIcon="heroicons_outline:eye"></mat-icon>
        </button>
    </div>
</ng-template>
