<div *transloco="let t; read: 'operations.invoices'" class="flex flex-col min-w-0 w-full">
    <!-- Encabezado de la página -->
    <page-header
        [description]="t('list.subtitle')"
        [subtitle]="t('list.title')">
    </page-header>

    <div class="flex flex-col items-center justify-center w-full max-w-xs sm:max-w-full mx-auto py-10 gap-y-4 sm:px-4">
        <div class="flex flex-row w-full gap-x-2">
            <h2 class="flex-1 font-bold text-secondary text-xl self-center">
                {{ t('title') }}
            </h2>
            <button
                #columnsOverlayButton
                (click)="openColumnsOverlay()"
                [class.open]="showColumnsOverlay()"
                mat-icon-button
            >
                <mat-icon [svgIcon]="'mat_outline:checklist'"></mat-icon>
            </button>
            <button
                (click)="invoicesResource.reload()"
                [matTooltip]="'actions.reload' | transloco"
                mat-icon-button
            >
                <mat-icon [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
            </button>
        </div>

        <div class="relative max-w-full overflow-auto w-full">
            <table-builder [columns]="columnsConfig()"
                           [data]="invoicesResource.value()"
                           [itemsPerPageLabel]="'Facturas por página'"
                           class="w-full"
            ></table-builder>
            <!--                <ng-container matColumnDef="deliveryAssignment">-->
            <!--                    <th *matHeaderCellDef mat-header-cell>Asignación de entrega</th>-->
            <!--                    <td *matCellDef="let invoice" mat-cell>-->
            <!--                        @if (invoice.deliveryAssignment) {-->
            <!--                            <span>{{ invoice.deliveryAssignment.name }}</span>-->
            <!--                        } @else {-->
            <!--                            <span class="text-gray-400">Sin asignar</span>-->
            <!--                        }-->
            <!--                    </td>-->
            <!--                </ng-container>-->
        </div>
    </div>

    <ng-template #columnsOverlay>
        <div class="bg-card rounded-lg shadow-lg p-4">
            <div class="flex flex-col gap-2">
                <div class="flex flex-col justify-between gap-4">
                    <h3 class="font-bold text-lg">{{ t('fields.invoice-number') }}</h3>

                    @for (column of defaultColumns(); track column) {
                        <div class="flex items-center gap-2">
                            <mat-slide-toggle
                                [checked]="columns().includes(column.key)"
                                (change)="toggleColumn(column.key)"
                            ></mat-slide-toggle>
                            <span>{{ column.header }}</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #isPaidCell let-invoice="row">
        <div class="flex align-center">
            @let invalidStatuses = [InvoiceStatusEnum.RE_INVOICED, InvoiceStatusEnum.REJECTED];
            @let payments = getPayments(invoice);
            @let isPartiallyPaid = payments.percentagePaid < 100 && payments.percentagePaid > 0;

            @if (invoice.isPaid) {
                <mat-icon [matTooltip]="'Pagado el ' + (invoice.paymentDate | date: 'dd-MM-yyyy')" class="text-green-500">task_alt</mat-icon>
            } @else if (isPartiallyPaid) {
                <mat-icon class="text-yellow-500"
                          [matTooltip]="(payments.totalPayments | currency: 'CLP': 'symbol-narrow') + ' (' + payments.percentagePaid + '%) pagado'"
                >task_alt
                </mat-icon>
            } @else if (DateTime.now().toISODate() <= invoice.dueDate || invalidStatuses.includes(invoice.status)) {
                <mat-icon class="text-accent-500">pending</mat-icon>
            } @else {
                <mat-icon class="text-red-500">cancel</mat-icon>
            }
        </div>
    </ng-template>
</div>

<ng-template #actionsCell let-invoice="row">
    <button
        [matMenuTriggerFor]="menu"
        class="shadow-none"
        mat-icon-button
    >
        <mat-icon class="icon-size-4" svgIcon="heroicons_outline:ellipsis-vertical"></mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        @let isTooOld = !isLessThan6Months(invoice.emissionDate);
        @let invalidStatus = [InvoiceStatusEnum.RE_INVOICED].includes(invoice.status);

        @if (!isTooOld && !invalidStatus && !invoice.isPaid) {
            <button (click)="reInvoice(invoice)" mat-menu-item>
                <mat-icon class="icon-size-4" svgIcon="heroicons_outline:arrow-uturn-left"></mat-icon>
                <span>{{ 'actions.re-invoice' | transloco }}</span>
            </button>

            <!-- Add observations -->
            <button (click)="addObservations(invoice)" mat-menu-item>
                <mat-icon class="icon-size-4" svgIcon="heroicons_outline:annotation"></mat-icon>
                <span>{{ 'actions.add-observations' | transloco }}</span>
            </button>
        }
    </mat-menu>
</ng-template>
