<div *transloco="let t; read: 'operations.invoices'" class="flex flex-col min-w-0 w-full">
    <!-- Encabezado de la página -->
    <page-header
        [description]="t('list.subtitle')"
        [subtitle]="t('list.title')">
    </page-header>

    <div class="flex flex-col items-center justify-center w-full max-w-xs sm:max-w-max mx-auto py-10 gap-y-4 sm:px-4">
        <div class="flex flex-row w-full">
            <h2 class="flex-1 font-bold text-secondary text-xl self-center">
                {{ t('title') }}
            </h2>
            <div class="block sm:hidden">
                <button (click)="showMobileFilters.set(!showMobileFilters())" class="btn-primary px-4 py-2 rounded" mat-icon-button>
                    <mat-icon [svgIcon]="showMobileFilters() ? 'heroicons_solid:funnel' : 'heroicons_outline:funnel'"></mat-icon>
                </button>
            </div>
            <button
                (click)="invoicesResource.reload()"
                [matTooltip]="'actions.reload' | transloco"
                mat-icon-button
            >
                <mat-icon [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
            </button>
        </div>

        <div class="relative max-w-full overflow-auto w-full">
            <table [dataSource]="invoicesResource.value()"
                   [trackBy]="trackByFn"
                   class="min-w-240 w-full overflow-y-visible bg-transparent"
                   mat-table
                   matSort
            >
                <ng-container matColumnDef="invoiceNumber">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ t('fields.invoice-number') }}</th>
                    <td *matCellDef="let row" mat-cell>{{ row.invoiceNumber }}</td>
                </ng-container>

                <ng-container matColumnDef="invoiceNumberFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                            <input
                                [formControl]="invoiceNumberFormControl"
                                matInput
                                placeholder="{{ t('fields.invoice-number') }}"
                                type="number"
                            />
                        </mat-form-field>
                    </th>
                </ng-container>

                <ng-container matColumnDef="orderNumber">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ t('fields.order-number') }}</th>
                    <td *matCellDef="let row" mat-cell>{{ row.order?.orderNumber }}</td>
                </ng-container>

                <ng-container matColumnDef="orderNumberFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                            <input
                                [formControl]="orderNumberFormControl"
                                matInput
                                placeholder="{{ t('fields.order-number') }}"
                                type="number"
                            />
                        </mat-form-field>
                    </th>
                </ng-container>

                <ng-container matColumnDef="client">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ t('fields.client') }}</th>
                    <td *matCellDef="let row" mat-cell>{{ row.client?.fantasyName }}</td>
                </ng-container>

                <ng-container matColumnDef="clientFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                            <mat-select [formControl]="clientFormControl"
                                        multiple
                                        placeholder="{{ t('fields.client') }}"
                            >
                                @if (!clientsResource.isLoading()) {
                                    @for (client of clientsResource.value(); track client.id) {
                                        <mat-option [value]="client">{{ client.fantasyName }}</mat-option>
                                    }
                                }
                            </mat-select>
                        </mat-form-field>
                    </th>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th *matHeaderCellDef mat-header-cell>Estado</th>
                    <td *matCellDef="let invoice" mat-cell>
                        @switch (invoice?.status) {
                            @case (InvoiceStatusEnum.ISSUED) {
                                <span class="inline-flex items-center rounded-md bg-yellow-50 px-2 text-xs font-medium text-yellow-800 ring-1 ring-yellow-600/20 ring-inset">{{ 'enums.invoice-status.' + invoice.status | transloco }}</span>
                            }
                            @case (InvoiceStatusEnum.RECEIVED_WITHOUT_OBSERVATIONS) {
                                <span class="inline-flex items-center rounded-md bg-blue-50 px-2 text-xs font-medium text-blue-700 ring-1 ring-blue-700/10 ring-inset truncate">{{ 'enums.invoice-status.' + invoice.status | transloco }}</span>
                            }
                            @case (InvoiceStatusEnum.RECEIVED_WITH_OBSERVATIONS) {
                                <span class="inline-flex items-center rounded-md bg-yellow-50 px-2 text-xs font-medium text-yellow-800 ring-1 ring-yellow-600/20 ring-inset truncate">{{ 'enums.invoice-status.' + invoice.status | transloco }}</span>
                            }
                            @case (InvoiceStatusEnum.PAID) {
                                <span class="inline-flex items-center rounded-md bg-green-50 px-2 text-xs font-medium text-green-700 ring-1 ring-green-600/20 ring-inset">{{ 'enums.invoice-status.' + invoice.status | transloco }}</span>
                            }
                            @case (InvoiceStatusEnum.REJECTED) {
                                <span class="inline-flex items-center rounded-md bg-red-50 px-2 text-xs font-medium text-red-700 ring-1 ring-red-600/10 ring-inset">{{ 'enums.invoice-status.' + invoice.status | transloco }}</span>
                            }
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="statusFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <mat-form-field
                            [matTooltipClass]="'whitespace-pre-wrap'"
                            [matTooltip]="translatedSelectedStatus().toString()"
                            class="fuse-mat-dense w-full"
                            subscriptSizing="dynamic"
                        >
                            <mat-select
                                [formControl]="statusFormControl"
                                multiple
                                placeholder="Sin filtro"
                            >
                                @for (status of invoiceStatuses; track status) {
                                    <mat-option class="text-sm" [value]="status">{{ 'enums.invoice-status.' + status | transloco }}</mat-option>
                                } @empty {
                                    <mat-option class="text-sm" [value]="null">Sin filtros</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </th>
                </ng-container>

                <ng-container matColumnDef="deliveryAssignment">
                    <th *matHeaderCellDef mat-header-cell>Asignación de entrega</th>
                    <td *matCellDef="let invoice" mat-cell>
                        @if (invoice.deliveryAssignment) {
                            <span>{{ invoice.deliveryAssignment.name }}</span>
                        } @else {
                            <span class="text-gray-400">Sin asignar</span>
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="deliveryAssignmentFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                            <mat-select [formControl]="deliveryAssignmentFormControl"
                                        multiple
                                        placeholder="Asignación de entrega"
                            >
                                <!--                                @if (!deliveryAssignmentsResource.isLoading()) {-->
                                <!--                                    @for (deliveryAssignment of deliveryAssignmentsResource.value(); track deliveryAssignment.id) {-->
                                <!--                                        <mat-option [value]="deliveryAssignment">{{ deliveryAssignment.name }}</mat-option>-->
                                <!--                                    }-->
                                <!--                                }-->
                            </mat-select>
                        </mat-form-field>
                    </th>
                </ng-container>

                <ng-container matColumnDef="emissionDate">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ t('fields.emission-date') }}</th>
                    <td *matCellDef="let invoice" mat-cell>{{ invoice.emissionDate | date: 'dd-MM-yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="emissionDateFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <mat-form-field class="w-full fuse-mat-dense" subscriptSizing="dynamic">
                            <mat-date-range-input [formGroup]="emissionDateFormControl" [rangePicker]="pickerEmissionDate">
                                <input formControlName="from" matStartDate placeholder="Start date">
                                <input formControlName="to" matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle [for]="pickerEmissionDate" matIconSuffix></mat-datepicker-toggle>
                            <mat-date-range-picker #pickerEmissionDate></mat-date-range-picker>
                        </mat-form-field>
                    </th>
                </ng-container>

                <ng-container matColumnDef="dueDate">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ t('fields.due-date') }}</th>
                    <td *matCellDef="let invoice" mat-cell>{{ invoice.dueDate ? (invoice.dueDate | date: 'dd-MM-yyyy') : 'No asignada' }}</td>
                </ng-container>

                <ng-container matColumnDef="dueDateFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                            <mat-date-range-input [formGroup]="dueDateFormControl" [rangePicker]="pickerDueDate">
                                <input formControlName="from" matStartDate placeholder="Start date">
                                <input formControlName="to" matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle [for]="pickerDueDate" matIconSuffix></mat-datepicker-toggle>
                            <mat-date-range-picker #pickerDueDate></mat-date-range-picker>
                        </mat-form-field>
                    </th>
                </ng-container>

                <ng-container matColumnDef="netAmount">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ t('fields.net-amount') }}</th>
                    <td *matCellDef="let invoice" mat-cell>{{ invoice.netAmount | currency: 'CLP': 'symbol-narrow' }}</td>
                </ng-container>

                <ng-container matColumnDef="netAmountFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <div [formGroup]="netAmountFormControl" class="flex gap-2">
                            <mat-form-field class="fuse-mat-dense flex-1" subscriptSizing="dynamic">
                                <input
                                    formControlName="from"
                                    matInput
                                    placeholder="$ {{ t('fields.from') }}"
                                    type="number"
                                />
                            </mat-form-field>
                            <mat-form-field class="fuse-mat-dense flex-1" subscriptSizing="dynamic">
                                <input
                                    formControlName="to"
                                    matInput
                                    placeholder="$ {{ t('fields.to') }}"
                                    type="number"
                                />
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="taxAmount">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ t('fields.tax-amount') }}</th>
                    <td *matCellDef="let invoice" mat-cell>{{ invoice.taxAmount | currency: 'CLP': 'symbol-narrow' }}</td>
                </ng-container>

                <ng-container matColumnDef="taxAmountFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <div [formGroup]="taxAmountFormControl" class="flex gap-2">
                            <mat-form-field class="fuse-mat-dense flex-1" subscriptSizing="dynamic">
                                <input
                                    formControlName="from"
                                    matInput
                                    placeholder="$ {{ t('fields.from') }}"
                                    type="number"
                                />
                            </mat-form-field>
                            <mat-form-field class="fuse-mat-dense flex-1" subscriptSizing="dynamic">
                                <input
                                    formControlName="to"
                                    matInput
                                    placeholder="$ {{ t('fields.to') }}"
                                    type="number"
                                />
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="totalAmount">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ t('fields.total-amount') }}</th>
                    <td *matCellDef="let invoice" mat-cell>{{ invoice.totalAmount | currency: 'CLP': 'symbol-narrow' }}</td>
                </ng-container>

                <ng-container matColumnDef="totalAmountFilter">
                    <th *matHeaderCellDef mat-header-cell>
                        <div [formGroup]="totalAmountFormControl" class="flex gap-2">
                            <mat-form-field class="fuse-mat-dense flex-1" subscriptSizing="dynamic">
                                <input
                                    formControlName="from"
                                    matInput
                                    placeholder="$ {{ t('fields.from') }}"
                                    type="number"
                                />
                            </mat-form-field>
                            <mat-form-field class="fuse-mat-dense flex-1" subscriptSizing="dynamic">
                                <input
                                    formControlName="to"
                                    matInput
                                    placeholder="$ {{ t('fields.to') }}"
                                    type="number"
                                />
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef mat-header-cell></th>
                    <td *matCellDef="let row" mat-cell>
                        <button [matMenuTriggerFor]="menu" mat-icon-button>
                            <mat-icon svgIcon="heroicons_outline:ellipsis-vertical"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" [xPosition]="'before'">
                            <button [routerLink]="['view', row.id]" mat-menu-item>
                                <mat-icon class="icon-size-4.5" svgIcon="heroicons_outline:eye"></mat-icon>
                                <span>{{ 'actions.view' | transloco }}</span>
                            </button>
                            <button (click)="updateStatusInvoice(row)" mat-menu-item>
                                <mat-icon class="icon-size-4.5" svgIcon="heroicons_outline:pencil"></mat-icon>
                                <span [innerText]="t('actions.update-status')"></span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actionsFilter">
                    <th *matHeaderCellDef mat-header-cell></th>
                </ng-container>

                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matHeaderRowDef="displayedColumnsFilters" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns" class="text-sm" mat-row></tr>
            </table>
        </div>
    </div>
</div>
