<mat-form-field class="w-full {{ controlClasses }}" [floatLabel]="floatLabel" [subscriptSizing]="subscriptSizing">
    @if (!hideLabel) {
        <mat-label>{{ label }}</mat-label>
    }
    <mat-select [formControl]="vehicleControl" [placeholder]="placeholder" (blur)="onBlur()">
        @if (includeAllOption) {
            <mat-option [value]="undefined">{{ allOptionLabel }}</mat-option>
        }

        @for (vehicle of vehicles(); track vehicle.id) {
            <mat-option [value]="vehicle.id">
                {{ vehicle.displayName }}
            </mat-option>
        } @empty {
            <mat-option disabled>Sin vehículos disponibles</mat-option>
        }
    </mat-select>
    <mat-icon matSuffix svgIcon="mat_solid:directions_car"></mat-icon>

    @if (vehicleControl.hasError('required')) {
        <mat-error>El vehículo es requerido.</mat-error>
    }
</mat-form-field>
