<div *transloco="let t; read: 'maintainers.suppliers.new'" class="flex flex-col min-w-0 w-full">
    <page-detail-header
        [subtitle]="t('description')"
        [title]="t('title')"
    ></page-detail-header>
    <!-- Content -->
    <div class="flex-1 flex flex-col w-full max-w-xs sm:max-w-5xl mx-auto py-4 sm:px-4">
        <!-- Content -->
        <form [formGroup]="form" class="flex flex-col items-center gap-y-4 w-full md:w-1/2 py-4">
            <!-- Type -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.type' | transloco }}</mat-label>
                <mat-select formControlName="type">
                    @for (type of SupplierTypeEnums; track type) {
                        <mat-option [value]="type">
                            {{ type | transloco }}
                        </mat-option>
                    }
                </mat-select>
                @if (form.controls.type.hasError('required')) {
                    <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
                }
            </mat-form-field>

            <!-- RUT -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.rut' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.rut' | transloco"
                    formControlName="rut"
                    matInput
                    pattern="^[0-9]+-[0-9kK]{1}$"
                />

                @if (form.controls.rut.hasError('required')) {
                    <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
                }
                @if (form.controls.rut.hasError('pattern')) {
                    <mat-error>{{ 'errors.form.pattern' | transloco: {pattern: '^[0-9]+-[0-9kK]{1}$'} }}</mat-error>
                }
            </mat-form-field>

            <!-- Business Name -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.business-name' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.business-name' | transloco"
                    formControlName="businessName"
                    matInput
                />
                @if (form.controls.businessName.hasError('required')) {
                    <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
                }
            </mat-form-field>

            <!-- Fantasy Name -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.fantasy-name' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.fantasy-name' | transloco"
                    formControlName="fantasyName"
                    matInput
                />
                @if (form.controls.fantasyName.hasError('required')) {
                    <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
                }
            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.email' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.email' | transloco"
                    formControlName="email"
                    matInput
                />
                @if (form.controls.email.hasError('required')) {
                    <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
                }
                @if (form.controls.email.hasError('email')) {
                    <mat-error>{{ 'errors.form.email' | transloco }}</mat-error>
                }
            </mat-form-field>

            <!-- Phone -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.phone' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.phone' | transloco"
                    formControlName="phone"
                    matInput
                />
                @if (form.controls.phone.hasError('required')) {
                    <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
                }
                @if (form.controls.phone.hasError('pattern')) {
                    <mat-error>{{ 'errors.form.pattern' | transloco: {pattern: '^[0-9]*$'} }}</mat-error>
                }
            </mat-form-field>

            <!-- Address -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.address' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.address' | transloco"
                    formControlName="address"
                    matInput
                />
                @if (form.controls.address.hasError('required')) {
                    <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
                }
            </mat-form-field>

            <!-- Payment Term Days -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.payment-term-days' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.payment-term-days' | transloco"
                    formControlName="paymentTermDays"
                    matInput
                    type="number"
                />
                @if (form.controls.paymentTermDays.hasError('required')) {
                    <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
                }
                @if (form.controls.paymentTermDays.hasError('pattern')) {
                    <mat-error>{{ 'errors.form.pattern' | transloco: {pattern: '^[0-9]*$'} }}</mat-error>
                }
                @if (form.controls.paymentTermDays.hasError('min')) {
                    <mat-error>{{ 'errors.form.min' | transloco: {min: 0} }}</mat-error>
                }
            </mat-form-field>

            <!-- Tax Category -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.tax-category' | transloco }}</mat-label>
                <mat-select formControlName="taxCategory">
                    @for (category of SupplierTaxCategoryEnums; track category) {
                        <mat-option [value]="category">
                            {{ category }}
                        </mat-option>
                    }
                </mat-select>
                @if (form.controls.taxCategory.hasError('required')) {
                    <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
                }
            </mat-form-field>

            <!-- Others -->

            <!-- SII Code -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.sii-code' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.sii-code' | transloco"
                    formControlName="siiCode"
                    matInput
                />
            </mat-form-field>

            <!-- Economic Activity -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.economic-activity' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.economic-activity' | transloco"
                    formControlName="economicActivity"
                    matInput
                />
            </mat-form-field>

            <!-- Commune -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.commune' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.commune' | transloco"
                    formControlName="commune"
                    matInput
                />
            </mat-form-field>

            <!-- City -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.city' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.city' | transloco"
                    formControlName="city"
                    matInput
                />
            </mat-form-field>

            <!-- Contact person -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.contact-person' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.contact-person' | transloco"
                    formControlName="contactPerson"
                    matInput
                />
            </mat-form-field>

            <!-- Contact phone -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.contact-phone' | transloco }}</mat-label>
                <input
                    [placeholder]="'maintainers.suppliers.fields.contact-phone' | transloco"
                    formControlName="contactPhone"
                    matInput
                />
            </mat-form-field>

            <!-- Is active -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.is-active' | transloco }}</mat-label>
                <mat-select formControlName="isActive">
                    <mat-option [value]="true">{{ 'yes' | transloco }}</mat-option>
                    <mat-option [value]="false">{{ 'no' | transloco }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Notes -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.notes' | transloco }}</mat-label>
                <textarea
                    [placeholder]="'maintainers.suppliers.fields.notes' | transloco"
                    cdkTextareaAutosize
                    formControlName="notes"
                    matInput
                ></textarea>
            </mat-form-field>

            <!-- Tags -->
            <mat-form-field class="fuse-mat-dense w-full" subscriptSizing="dynamic">
                <mat-label>{{ 'maintainers.suppliers.fields.tags' | transloco }}</mat-label>
                <mat-chip-grid #chipList>
                    @for (tag of form.controls.tags.value; track tag) {
                        <mat-chip
                            [selectable]="true"
                            [removable]="true"
                            (removed)="removeTag(tag)"
                        >
                            {{ tag }}
                            <button matChipRemove aria-label="Remove tag">x</button>
                        </mat-chip>
                    }

                    <input
                        (matChipInputTokenEnd)="addTag($event)"
                        [formControl]="tagsControl"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        placeholder="{{ 'maintainers.suppliers.fields.tags-placeholder' | transloco }}"
                    />
                </mat-chip-grid>
            </mat-form-field>
        </form>
    </div>
</div>
