<h2 mat-dialog-title>Agregar factura</h2>
<mat-dialog-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus asperiores deleniti distinctio dolorem eveniet, excepturi in ipsam maxime nemo nisi nulla officia quam, quisquam quo reiciendis sit, temporibus vel?
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button color="secondary" mat-button mat-dialog-close>Cerrar</button>
    <button [mat-dialog-close]="true" cdkFocusInitial color="primary" mat-flat-button>Guardar</button>
</mat-dialog-actions>
